header {
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(14, 19, 24, 0.07) 0px 0px 4px 0px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1rem;

    a {
      color: #000;
      text-decoration: none;
      display: flex;
      align-items: center;
      column-gap: 5px;

      /* Log in */
      &:nth-child(2) {
        font-weight: 500;
      }

      img {
        width: 20px;
        height: 30px;
      }

      span {
        font-weight: bold;
      }
    }
  }
}

main {
  padding: 1rem;
  max-width: 1128px;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 14px;
  max-width: 1128px;
  margin: 0 auto;
}
